.album-panel {
  position: absolute;
  padding: 160px 60px 60px;
  width: 100%;
  height: 100%;
  background: #23212C;
  color: white;
}

.album-list li {
  width: 220px;
  float: left;
  position: relative;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.cover-0 {
  position: absolute;
  width: 220px;
  height: 160px;
  background: none;
  margin-top: 20px;
  pointer-events: none;
  box-shadow: inset 0px 30px 20px rgba(0,0,0,0.3);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.cover-1 {
  position: absolute;
  width: 220px;
  height: 160px;
  background: #e9e9e9;
  margin-top: 20px;
  z-index: 3;
  transition: all .2s ease-in-out;
}

.cover-1:hover {
  margin-top: 25px;
  transform: rotateX(20deg);
}

.cover-2 {
  position: absolute;
  width: 180px;
  height: 150px;
  background: #1882C9;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
  perspective: 1000px;
  opacity: 0.5;
  transition: all .3s ease-in-out;
}

.cover-3 {
  position: absolute;
  width: 140px;
  height: 150px;
  background: white;
  margin-top: 20px;
  margin-left: 40px;
  z-index: 1;
  opacity: 0.1;
  erspective: 1000px;
  transition: all .3s ease-in-out;
}

.cover-name {
  margin-top: 200px;
  font-size: 14px;
  color: #e8e8e8;
}

.add-album .cover-1 {
  position: absolute;
  width: 220px;
  height: 160px;
  background: #242F42;
}

.add-album i {
  position: absolute;
  margin-top: 41%;
  margin-left: 45%;
  z-index: 3;
  font-size: 30px;
}

.add-album-modal {
  position: absolute;
  margin-left: 30%;
  padding: 20px;
  width: auto;
  height: auto;
  background: #242F42;
  z-index: 9999;
  border: 2px solid rgba(245, 245, 245, 0.2);
  display: none;
}

.add-album-modal h3 {
  margin-bottom: 30px;
}

.add-album-modal .input-row {
  margin-bottom: 30px;
}

#edit-album-name {
  height: 42px;
  width: 240px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid white;
  padding: 0 0 25px;
  background: none;
}

#edit-album-name:focus {
  outline: none;
}
