.side-panel {
  background: #f9f9f9;
  width: 20%;
  max-width: 415px;
  padding: 40px;
  font-family: 'Open sans', Arial, sans-serif;
  height: calc(100vh - 90px);
}

.category-tags li {
  cursor: pointer;
  margin: 0 0 20px 30px;
  color: #1882C9;
}
