/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: 'Varela Round', sans-serif;
  background: #23212C;
}

.logo {
	font-size: 26px;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: semi-bold;
  margin-bottom: 30px;
}

.main-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
}

.button {
	display: inline-block;
	cursor: pointer;
	height: 38px;
	padding: 12px 14px;
	font-size: 14px;
}

.button i {
	margin-right: 8px;
}

.passive {
	background: none;
	color: white;
	border: 1px solid #8A8A8A;
}

.passive a {
	font-size: 14px;
	color: white;
}

.delete {
	background: none;
	color: #FF8673;
	border: 1px solid #FF8673;
}

.primary {
	background: #1882C9;
	color: white;
	border: 1px solid #1882C9;
}

.navigation {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
	padding: 30px;
  height: 60px;
  width: 100%;
	position: fixed;
	background: #23212C;
	z-index: 999;
	top: 0;
}

.navigation a {
	color: white;
}

.navigation h1 {
  float: left;
}

.nav-links {
	float: right;
}

.nav-links li a {
	text-decoration: none;
}

.notification-banner {
	position: fixed;
	height: 58px;
	width: 100%;
	bottom: 0;
	background: #242424;
	z-index: 9999;
	color: white;
	padding: 20px 30px;
	text-align: center;
	display: none;
}

.error {
	background: #FF8673;
}
