.imagePanel {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;
  margin-top: 130px;
}

.imagePanel .back-link {
  color: white;
  cursor: pointer;
}

.preview-panel {
  padding: 30px;
  width: 60%;
  float: left;
  height: 100%;
  position: relative;
}

.image-preview {
  width: 100%;
}

.info-panel {
  width: 40%;
  float: right;
}

.image-meta {
  padding: 60px 30px 30px 0;
  color: white;
}

.image-meta .image-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-meta .meta-row {
  width: 100%;
  height: 40px;
}

.image-meta .image-dimension {
  font-size: 12px;
  margin: 0 20px 20px 0;
  float: left;
}

.image-meta .image-size {
  font-size: 12px;
  margin: 0 20px 20px 0;
  float: left;
}

.image-meta .image-tags li{
  list-style: none;
  float: left;
  margin: 0 10px 10px 0;
  padding: 14px 10px 10px;
  font-size: 14px;
  background: #263945;
  cursor: pointer;
}

.edit-tags-group {
  display: none;
}

#image-tags_tagsinput {
  width: 100% !important;
  height: auto !important;
  border: none;
  margin-bottom: 20px;
}

#image-tags_tagsinput .tag {
  padding: 10px;
}

#image-tags_addTag input {
  background: white;
  color: #777 !important;
  width: auto !important;
  padding: 9px;
}

#share-image-modal {
  position: absolute;
  margin-top: 10px;
  font-size: 12px;
  display: none;
  padding: 10px;
  background: #263945;
  color: white;
}

#share-image-modal input {
  padding: 10px;
  color: #242424;
  min-width: 200px;
}

.add-to-album {
  margin-top: 10px;
  position: absolute;
  padding: 20px 20px 0;
  width: 400px;
  background: #242F42;
  z-index: 9999;
  border: 2px solid rgba(245, 245, 245, 0.2);
  display: none;
}

.add-to-album li {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px !important;
}

.add-to-album i {
  margin-right: 8px;
}

.close-album-list-link {
  display: none;
}

#preview-loader {
  position: absolute;
}
