/* CSS declarations go here */
body {
  font-family: 'Open Sans', arial, sans-serif;
  background: #242424;
}

.image-thumb {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}

.upload-area .alert {
  position: relative;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.navigation {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 400;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background: white;
}

.navigation h1 {
  float: left;
  padding: 35px 0 0 30px;
}

.uploader-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.search-module input {
  width: 300px;
  height: 48px;
  position: absolute;
  margin: 20px 0 0 30px;
  padding: 10px;
}

.search-module ul {
  position: absolute;
  top: 100px;
  padding: 30px;
}

.search-module ul li{
  float: left;
  margin: 30px 10px;
  cursor: pointer;
}

.search-module li img{
  border: 1px solid #242424;
}

.search-module .image-title {
  color: #777;
  font-size: 12px;
  margin-top: 10px;
}

.no-results {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 20%;
}

.upload-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.90);
  z-index: 99;
}

.loading-modal {
  text-align: center;
  padding: 50px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.90);
  z-index: 99;
}

.loading-modal h1 {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 38px;
  color: white;
  margin: 30px 0 30px;
}

.loading-modal p {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 16px;
  color: white;
}

.image-preview {
  width: 60%;
  height: 100%;
  float: left;
}

.image-preview img{
  width: 100%;
  vertical-align: middle
}

.photo-form {
  font-family: Open Sans, arial, sans-serif;
  padding: 30px;
  float: left;
  width: 40%;
}

.photo-form .form-group {
  margin-bottom: 30px;
}

.photo-form label {
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.photo-form h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 40px;
}

/* Cancel Icon */

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.75;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* Spinner */

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #FDBC1E;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
